.row-dir {
    gap: 10px;
    display: flex;
  justify-content: space-between;
}

.table-controls {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    color: white;
}

.table-controls tr {
    border: 1px solid white;

}

.table-controls caption {
    margin-bottom: 35px;
    font-size: 2rem;
    font-family: "Arial Black", serif;
    color: black;
}

.table-header tr {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
}

.table-body {
    background-color: #383838;
    text-align: center;
}

.table-body tr:nth-child(even) {
    background-color: #545454;
}

.new-input button {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid black;
}

button {
    font-family: "Gill Sans Ultra Bold", serif;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
}

button:hover,
button:active {
    background-color: #7b7b8c;
    border-color: #000000;
}